.app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    
}

img{

cursor: pointer;
border-radius: 10px;
}

.api{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}