.App {
  text-align: center;
}

.htmlLogo,
.jsLogo,
.nodeLogo,
.babelLogo,
.reactLogo,
.sassLogo,
.webpackLogo {
  position: absolute;
  height: 40px;
}

.nodeLogo {
  height: 50px;
}

.babelLogo {
  height: 25px;
}

.nodeLogo {
  animation: orbit1 5s infinite linear;
}

.reactLogo {
  animation: orbit2 5s infinite linear;
}

.sassLogo {
  animation: orbit3 5s infinite linear;
}

.webpackLogo {
  animation: orbit4 5s infinite linear;
}

.babelLogo {
  animation: orbit5 5s infinite linear;
}

.jsLogo{
  animation: orbit6 5s infinite linear;

}

.htmlLogo {
      animation: orbit7 5s infinite linear;
}



.imgContainer {
  display: inline-block;

  margin-top: 10em;
}

.App-header {
  background-color: #222;
  width: 100%;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes orbit1 {
  from {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}

@keyframes orbit2 {
  from {
    transform: rotate(72deg) translateX(70px) rotate(-11deg);
  }
  to {
    transform: rotate(432deg) translateX(70px) rotate(-371deg);
  }
}

@keyframes orbit3 {
  from {
    transform: rotate(144deg) translateX(70px) rotate(-140deg);
  }
  to {
    transform: rotate(504deg) translateX(70px) rotate(-500deg);
  }
}

@keyframes orbit4 {
  from {
    transform: rotate(216deg) translateX(70px) rotate(-6deg);
  }
  to {
    transform: rotate(576deg) translateX(70px) rotate(-366deg);
  }
}

@keyframes orbit5 {
  from {
    transform: rotate(280deg) translateX(70px) rotate(84deg);
  }
  to {
    transform: rotate(640deg) translateX(70px) rotate(-276deg);
  }
}

@keyframes orbit6 {
  from {
    transform: rotate(280deg) translateX(70px) rotate(-20deg);
  }
  to {
    transform: rotate(640deg) translateX(70px) rotate(-176deg);
  }
}

@keyframes orbit7 {
  from {
    transform: rotate(280deg) translateX(70px) rotate(84deg);
  }
  to {
    transform: rotate(640deg) translateX(70px) rotate(-276deg);
  }
}